* text=auto

*.css text eol=lf
*.gitattributes text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.ts text eol=lf
*.vue text eol=lf
*.yml text eol=lf

*.png binary
*.jpg binary
*.ico binary
